## Step 1: Load raw data and inspect

In [1]:
import pandas as pd

# Load scraped data
df = pd.read_csv("../data/raw/supply_raw.csv")

# Inspect the structure
df.head()
df.info()
df.describe(include='all')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233 entries, 0 to 232
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   #                        233 non-null    int64
 1   Country (or dependency)  233 non-null    object
 2   Population 2025          233 non-null    object
 3   Yearly Change            233 non-null    object
 4   Net Change               233 non-null    object
 5   Density (P/KmÂ²)         233 non-null    object
 6   Land Area (KmÂ²)         233 non-null    object
 7   Migrants (net)           233 non-null    object
 8   Fert. Rate               233 non-null    float64
 9   Median Age               233 non-null    float64
 10  Urban Pop %              210 non-null    object
 11  World Share              233 non-null    object
dtypes: float64(2), int64(1), object(9)
memory usage: 22.0+ KB

,#,Country (or dependency),Population 2025,Yearly Change,Net Change,Density (P/KmÂ²),Land Area (KmÂ²),Migrants (net),Fert. Rate,Median Age,Urban Pop %,World Share
count,233.000000,233,233,233,233,233,233,233,233.000000,233.000000,210,233
unique,NaN,233,233,177,231,164,224,233,NaN,NaN,191,165
top,NaN,India,"1,463,865,525",0.47%,5,4,460,"â495,753",NaN,NaN,86%,0.13%
freq,NaN,1,1,4,2,8,3,1,NaN,NaN,2,8
mean,117.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.306094,31.896996,NaN,NaN
std,67.405489,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.134316,9.860936,NaN,NaN
min,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.690000,14.500000,NaN,NaN
25%,59.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.470000,22.900000,NaN,NaN
50%,117.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.940000,32.800000,NaN,NaN
75%,175.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.950000,39.800000,NaN,NaN
max,233.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.940000,57.400000,NaN,NaN

## Step 2: Cleaning

In [3]:
# Standardize column names
df.columns = df.columns.str.lower().str.replace(" ", "_")

# Drop rows with any missing values
df = df.dropna()

# Convert numeric columns (Worldometers stores numbers as strings)
for col in df.columns:
    df[col] = pd.to_numeric(df[col], errors='ignore')

df.head()

/var/folders/c3/vmr1w1q937z6kp6c42j805100000gn/T/ipykernel_77724/1770208334.py:9: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')

,#,country_(or_dependency),population_2025,yearly_change,net_change,density_(p/kmâ²),land_area_(kmâ²),migrants_(net),fert._rate,median_age,urban_pop_%,world_share
0,1,India,"1,463,865,525",0.89%,"12,929,734",492,"2,973,190","â495,753",1.94,28.8,37.1%,17.78%
1,2,China,"1,416,096,094",â0.23%,"â3,225,184",151,"9,388,211","â268,126",1.02,40.1,67.5%,17.20%
2,3,United States,"347,275,807",0.54%,"1,849,236",38,"9,147,420","1,230,663",1.62,38.5,82.8%,4.22%
3,4,Indonesia,"285,721,236",0.79%,"2,233,305",158,"1,811,570","â39,509",2.10,30.4,59.6%,3.47%
4,5,Pakistan,"255,219,554",1.57%,"3,950,390",331,"770,880","â1,235,336",3.50,20.6,34.4%,3.10%

## Step 3: Save processed data

In [4]:
df.to_csv("../data/processed/supply_data.csv", index=False)
df.head()

,#,country_(or_dependency),population_2025,yearly_change,net_change,density_(p/kmâ²),land_area_(kmâ²),migrants_(net),fert._rate,median_age,urban_pop_%,world_share
0,1,India,"1,463,865,525",0.89%,"12,929,734",492,"2,973,190","â495,753",1.94,28.8,37.1%,17.78%
1,2,China,"1,416,096,094",â0.23%,"â3,225,184",151,"9,388,211","â268,126",1.02,40.1,67.5%,17.20%
2,3,United States,"347,275,807",0.54%,"1,849,236",38,"9,147,420","1,230,663",1.62,38.5,82.8%,4.22%
3,4,Indonesia,"285,721,236",0.79%,"2,233,305",158,"1,811,570","â39,509",2.10,30.4,59.6%,3.47%
4,5,Pakistan,"255,219,554",1.57%,"3,950,390",331,"770,880","â1,235,336",3.50,20.6,34.4%,3.10%